/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [RowNumber]
      ,[Number]
      ,[Gender]
      ,[Title]
      ,[Name]
      ,[Surname]
      ,[Address]
      ,[ZipCode]
      ,[EmailAddress]
      ,[Username]
      ,[Password]
      ,[Birthday]
      ,[CCType]
      ,[CCNumber]
      ,[CVV2]
      ,[CCExpires]
      ,[BloodType]
      ,[Kilograms]
      ,[Centimeters]
      ,[Column 18]
      ,[Column 19]
  FROM [DS].[dbo].[FakeNamesUK_2020177]